.form {
  &__buttonsContainer {
    margin-top: 40px;
    text-align: center;
  }
  &__field {
    margin-bottom: 20px;
    &--input {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    &--label {
      display: block;
      text-align: center;
    }
    &--validationError {
      color: red;
      text-align: center;
      display: block;
    }
  }
}
